.places {
    margin: 45px 0;
    text-align: center;
}

.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places h1 {
    font-size: 30px;
    margin-top: 25px;
    margin-left: 20px;
    margin-bottom: 5px;
    text-align: left;
}

.places h2 {
    margin: 0;
    font-size: 30px;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    position: relative;

}

.price_by_night {
    color: #FF5A5F;
    border: #FF5A5F 4px solid;
    border-radius: 50%;
    display: inline-block;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    margin-top: 10px;
    margin-right: 20px;
}

.information {
    height: 80px;
    padding: 20px 0;
    margin: 10px 0;
    ;
    border-top: solid #DDDDDD 1px;
    border-bottom: solid #DDDDDD 1px;
    margin-top: 36px;
}

.max_guest,
.number_rooms,
.number_bathrooms {
    display: inline-block;
    width: 100px;
    padding-top: 60px;
    background-image: url("../images/icon_bath.png");
    background-repeat: no-repeat;
    /* no repeating the background image */
    background-position: top;
}

.max_guest {
    background-image: url("../images/icon_group.png");
}

.number_rooms {
    background-image: url("../images/icon_bed.png");
}

.user,
.description {
    margin: 10px 5px 0 0;
    text-align: left;
}

.user span {
    font-weight: bold;
}

.places .amenities {

    margin-top: 40px;
    padding: 0%;
    width: 100%;

}

.places .amenities h2, .places .reviews h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
    text-align: left;
    padding-bottom: 10px;
}


.places .amenities li {
    display: flex;
    padding: 0;
    margin-bottom: 10px;
}


.pet_icon,
.tv_icon,
.wifi_icon,
.coffee_icon,
.pool_icon,
.beach_icon,
.bbq_icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url("../images/icon_pets.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: inline-block;
}

.tv_icon {
    background-image: url("../images/icon_tv.png");
}

.wifi_icon {
    background-image: url("../images/icon_wifi.png");
}

.coffee_icon {
    background-image: url("../images/icon_coffe.png");
}

.pool_icon {
    background-image: url("../images/icon_pool.png");
}

.beach_icon {
    background-image: url("../images/beach_icon.png");
}

.beach_icon {
    background-image: url("../images/beach_icon.png");
}

.bbq_icon{
    background-image: url("../images/icon_grill.png");
}


.reviews{
    margin-top: 40px;
    text-align: left;
}

.reviews ul {
    padding: 0;
}
.reviews li {
    padding: 0%;
    margin: 0%;
}

.reviews p{
    margin: 0;
}
