footer {
    background-color: #00ff00;
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    position: absolute;
    bottom: 0;
}

/*
    width 100% of the browser width
    height 6px
    text-align centers the text horizently
    line-height centers the text vertically
    position absolute, bottom 0 makes the footer at the bottom of browser
*/
