header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

#headerLogo {
    height: 100%;
    /* give the div the same height as the header so we need to center it vertically according to the header hight */
    width: 142px;
    /* we give the div the same width of the logo so we can control its position using the padding */
    /* we can't use img tag as required in the task, so we instead use the background
    which is more common in the logos and banners of websites*/
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    /* no repeating the background image */
    background-position: center;

    margin-left: 20px;
}
